*{margin:0;padding: 0}
li{list-style: none}
em{font-style: normal}
.page{width: 100%; height: 100%; position: absolute; left: 0; top: 0; overflow: hidden; background: #fff; font-size:26px; z-index: 1;display: none}
.pageShow{display: block}
.page:nth-of-type(1){z-index: 10;}
.page:nth-of-type(2){z-index: 9;}
.page:nth-of-type(3){z-index: 8;}
.page:nth-of-type(4){z-index: 7;}
.page:nth-of-type(5){z-index: 6;}
/*欢迎页*/
@keyframes trees{
    100%
    {
        transform:translateY(0px);
        opacity: 1;
    }
}
@keyframes logo{
    100%
    {
        opacity: 1;
    }
}
@keyframes logo{
    100%
    {
        opacity: 1;
    }
}
@keyframes shake {
    0%{transform: rotate(0deg)}
    10%{transform: rotate(45deg)}
    20%{transform: rotate(-40deg)}
    30%{transform: rotate(35deg)}
    40%{transform: rotate(-30deg)}
    50%{transform: rotate(25deg)}
    60%{transform: rotate(-20deg)}
    70%{transform: rotate(15deg)}
    80%{transform: rotate(-10deg)}
    90%{transform: rotate(5deg)}
    100%{transform: rotate(0deg)}
}
@keyframes cloud {
    0%{ transform:translateX(0px)}
    100%{ transform:translateX(-50px)}
}
#welcome{ transition:.7s}
.tree{position: absolute;left: 0;top: 92px; width: 100%; transform:translateY(100px); opacity: 0;animation:1s trees;animation-fill-mode:forwards}
#logo{text-align: center;position: absolute; left: 0; width: 100%; bottom: 5%; opacity: 0; animation: 1s .5s trees;animation-fill-mode:forwards;}
.welcome2{position: relative; padding-top: 50px; opacity: 0; transform:translateY(50px); animation: 1s .3s trees; animation-fill-mode:forwards;}
.shake{position: absolute; left: 509px; top: 12px; width: 28px; height: 31px; background: url("../img/shake.png") no-repeat center;transform-origin: left bottom ;animation:1s 1.5s shake;}
.tree3{padding-top: 20px;transform:translateY(30px); animation: 1s .5s trees;animation-fill-mode:forwards;}
.cloud{position: absolute;background: url("../img/cloud.png") no-repeat center; background-size:contain}
.cloud:nth-of-type(1){left: 432px; top: 15px; width: 58px; height: 44px; animation:cloud 2.5s 2s infinite alternate linear;}
.cloud:nth-of-type(2){left: 79px; top: 91px; width: 91px; height: 70px;animation:cloud 2.5s 2.4s infinite alternate linear;}
.cloud:nth-of-type(3){left: 402px; top:142px; width: 54px; height: 70px;animation:cloud 2.5s 2.8s infinite alternate linear;}

/* 首页 */
#tabPic{overflow: hidden; position: relative;}
#picList{overflow: hidden; width: 500%; transform:translate() }
#picList li{float:left; width: 20%;}
#picList li img{width: 100%; height: 342px;}
.picMask{height: 102px; position: absolute; left: 0; bottom: 0; width:100%; background: rgba(0,0,0,0.3)}
.picMask p{font-size: 29px; line-height: 100px; color: #fff; font-family: "Microsoft Yahei"; text-indent: 20px;}
.picMask nav{height: 10px;right: 26px; top:56px; position: absolute}
.picMask nav a{float: left; width: 10px; height: 10px; border-radius: 50%; background: rgba(255,255,255,0.5); margin: 0 10px;}
.picMask nav a.active{background: rgba(255,255,255,1);}

#score{line-height: 60px; padding: 17px 0 0 26px; font-family: "Microsoft Yahei";}
#score h2{font-size: 28px; font-weight: normal;font-size: 0.8rem}
#score li {height: 60px;position: relative;}
#score nav{position: absolute; height: 187px;left: 187px;top: 12px;}
#score nav a{float: left; background:url("../img/star.png") no-repeat -38px 0; width: 38px; height: 36px;    margin-right: 39px;transition: 0.2s all}
#score nav .active{ background-position: 0 0;}

.newsBtn{ color: #fff;text-decoration:none; width: 78px; height: 78px; display: block;position: absolute; top: 10px; right: 10px; }
.newsBtn em{width: 56px; height: 56px; font-size: 22px; text-align: center; letter-spacing: 2px; line-height: 28px;; padding:11px ;  z-index: 8; display: block;position: absolute; left: 0;top: 0; background: rgba(230,0,18,0.6);border-radius: 40px }
.newsBtn span{width: 78px; height: 78px; background: rgba(230,0,18,0.2); position: absolute; left: 0;top: 0; z-index: 6; border-radius: 50px; opacity: 0.1; }
.newsBtn span:nth-of-type(1){animation:newBtn 2s infinite alternate; }
.newsBtn span:nth-of-type(2){animation:newBtn 2s .5s infinite alternate; }
.newsBtn span:nth-of-type(3){animation:newBtn 2s 1s infinite alternate; }



@keyframes newBtn{
    0%{
        transform: scale(0);
        opacity: 0.1;
    }
    100%{
        transform: scale(1.2);
        opacity: 1;
    }

}

